.homePageTitle {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-top: 10px;
    color: beige;
    margin-bottom: 20px;
}

.rowsClassSubContainer {
    color: rgb(233, 226, 226);

    border: 1px solid rgb(72, 93, 72);
    /* padding: 20px; */
}

.colsClassSubContainer {
    padding: 20px;
    font-size: 20px;
    border: 1px solid rgb(72, 93, 72);
}

.colsClassSubContainer:hover {
    cursor: pointer;
    /* background-color: rgb(88, 88, 122); */
    background-color: rgb(60, 91, 60);
}