.heading {
  font-size: 1.4rem;
  font-variant: small-caps;
  color: ghostwhite;
  text-align: left;
}
.gridElementFullBox {
  color: white;
  background-color: rgb(48, 183, 255);
  border-radius: 3px;
}
.gridElementHollowBox {
  color: grey;
}
.gridElementCreateListSection {
  background-color: rgb(44, 43, 43);
}
.gridElementCreateListSection > Button {
  width: 100%;
}
.gridElementDropdownWrapper {
  padding: 20px;
}
.gridElementCreateListTextField {
  background-color: rgb(205, 205, 205);
}
